requests==2.26.0
whois==0.9.7
beautifulsoup4==4.9.3
PyQt5==5.15.4
tldextract==3.1.0
geopy==2.2.0
metadata-parser==0.3.1
lxml==4.6.3
validators==0.18.2
pyshorteners==1.0.1
python-nmap==0.6.1
jsbeautifier==1.13.5
cssbeautifier==0.8.2
PyQt5==5.15.4
beautifulsoup4==4.9.3
cssbeautifier==0.8.2
datetime==4.3
geopy==2.2.0
jsbeautifier==1.13.5
lxml==4.6.3
metadata-parser==0.3.1
nmap==0.6.1
os-sys==1.0.1
pyshorteners==1.0.1
python-nmap==0.6.1
random2==1.0.1
requests==2.26.0
stringcase==1.2.0
tldextract==3.1.0
urllib3==1.26.7
validators==0.18.2